.wx-links.wx-dkx3NwEn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wx-line.wx-dkx3NwEn {
  user-select: auto;
  pointer-events: stroke;
  position: relative;
  stroke: var(--wx-gantt-link-color);
  stroke-width: 2;
  z-index: 0;
  fill: transparent;
}

.wx-line-selectable.wx-dkx3NwEn:hover {
  stroke: var(--wx-gantt-link-color-hovered);
}

.wx-line-selectable.wx-critical.wx-dkx3NwEn:hover {
  stroke: var(--wx-gantt-link-critical-color-hovered);
}

.wx-line-selectable.wx-dkx3NwEn {
  cursor: pointer;
}

.wx-line.wx-line-selected.wx-dkx3NwEn {
  stroke: var(--wx-color-danger);
}

.wx-critical.wx-dkx3NwEn {
  stroke: var(--wx-gantt-link-critical-color);
}
