.container.wx-Md6hA5Em {
  display: flex;
  align-items: center;
  padding: 0 4px;
}

.avatar.wx-Md6hA5Em {
  width: 40px;
}

.user-avatar.wx-Md6hA5Em {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #dfe2e6;
  text-align: center;
}

.user-photo.wx-Md6hA5Em {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #dfe2e6;
}
