.rows.wx-KB3Eoqwm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.row.wx-KB3Eoqwm {
  padding: 13px;
  font-family: var(--wx-font-family);
  font-size: var(--wx-font-size);
}

.gtcell.wx-KB3Eoqwm {
  position: relative;
  height: 100%;
  min-height: 0;
  border-top: var(--wx-gantt-border);
  margin-bottom: 10px;
}

.gtcell.wx-KB3Eoqwm:last-of-type {
  margin-bottom: 0;
}
