.rows.wx-MZ5YXrqJ {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--wx-background);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bar.wx-MZ5YXrqJ {
  padding: 10px;
}
.gtcell.wx-MZ5YXrqJ {
  position: relative;
  height: 100%;
  border-top: var(--wx-gantt-border);
  overflow: hidden;
}
