.demo.wx-megyPaP4 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bar.wx-megyPaP4 {
  padding: 20px;
  background-color: var(--wx-background);
  border: var(--wx-border);

  --wx-input-width: 180px;
}

.gantt.wx-megyPaP4 {
  position: relative;
  height: calc(100% - 74px);
}
