.demo.wx-D71fWZ7y {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bar.wx-D71fWZ7y {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 20px;
  border-bottom: var(--wx-gantt-border);
}

.gantt.wx-D71fWZ7y {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.bar.wx-D71fWZ7y .wx-field.wx-left {
  margin-bottom: 0px;
}
