.rows.wx-D71fWZ9y {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.buttons.wx-D71fWZ9y {
  display: flex;
  gap: 10px;
  padding: 8px 12px;
}
.gtcell.wx-D71fWZ9y {
  position: relative;
  height: calc(100% - 48px);
  border-top: var(--wx-gantt-border);
}
.button.wx-D71fWZ9y {
  position: relative;
}
.button.wx-D71fWZ9y span {
  background-color: var(--wx-color-danger);
  height: 18px;
  width: 18px;
  border-radius: 50px;
  position: absolute;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 3px 0;
  color: #fff;
  top: -6px;
  right: -6px;
}
