.wx-fullscreen.wx-KG2RkQhB {
  position: relative;
  height: 100%;
  width: 100%;
  outline: none;
}
.wx-fullscreen-icon.wx-KG2RkQhB {
  position: absolute;
  right: 25px;
  bottom: 35px;
  z-index: 4;
}
